@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

:root {
   --Primary-DB: hsl(240, 38%, 20%);
   --Primary-GB: hsl(240, 18%, 77%);
}

html {
   box-sizing: border-box;
   font-size: 100%;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   position: relative;
   margin: 0;
   padding: 0;
   font-family: 'Inter', sans-serif;
   color: var(--Primary-DB);
   /* font-size: 32px; */
   text-align: center;

   background-image: url(../images/pattern-curve.svg);
   background-repeat: no-repeat;

   background-size: 340px;
   background-position: left bottom 0;

}

.photo {
   width: 253px;
   border-radius: 5px;
   box-shadow: -1rem 5rem 75px -2.5rem rgb(32 32 70 / 20%);
}

.testimonials {
   position: relative;
   width: 100%;
   margin: 0 auto;
}

.testimonial__items {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 23px auto;
   padding: 0 14px;
}

.testimonial__img__container {

   background-image: url(../images/pattern-bg.svg);
   background-repeat: no-repeat;
   background-size: 329px;
   background-position: center top 10px;

   height: 335px;
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-radius: 5px;
   padding: 50px;
}

.btn__container {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   background-color: white;
   border-radius: 20px;
   width: 80px;
   height: 40px;
   z-index: 3;
   transform: translateY(-18px);
   /* box-shadow: -16px 0px 64px rgb(86 86 86); */
   box-shadow: 0px 0px 30px 0px rgb(123 121 121);
   position: absolute;
   bottom: 0;
}

.btn {
   outline: none;
   border: none;
   background-color: unset;
   transition: transform .3s;
   cursor: pointer;
}

.btn__img {
   transform: scale(0.8);
}

.btn:hover {
   transform: scale(1.3);
}

.btn:active {
   transform: scale(1);
}

.testimonial__text__container {
   background-image: url(../images/pattern-quotes.svg);
   background-position: center top 0px;
   background-repeat: no-repeat;
   background-size: 60px 50px;
   padding-top: 0px;
   margin-top: 22px;
}

.testimonial__quote p {
   margin-top: 25px;
   font-size: 19px;
   line-height: 1.4;
   font-weight: 300;
}

.testimonial__author {
   margin-bottom: 35px;
}

.testimonial__author h2 {
   font-size: 16px;
   margin-bottom: 0;
}

.testimonial__author span {
   font-size: 15px;
   color: var(--Primary-GB)
}

/* footer */

.attribution {
   font-size: 11px;
   text-align: center;
}

.attribution a {
   color: hsl(228, 45%, 44%);
   transition: .5s color;
}

.attribution a:hover {
   color: var(--Primary-DB);
   text-decoration: none;
}


/* Animations  */


.animation--photoClickAnimation {
   animation: photoClickAnimation 5s 1s forwards;
}

.transition--left {
   animation: FromRight 1s;
}

.transition--right {
   animation: FromLeft 1s;
}

.btn--opacity {
   /* opacity: 0; */
   /* transition: 1s opacity; */
   animation: btnRotateAnimation .3s infinite;
   cursor: wait;
}

@keyframes btnRotateAnimation {
   0% {
      transform: scale(1);
   }

   25% {
      transform: scale(1.3);
   }

   50% {
      transform: scale(1);
   }

   75% {
      transform: scale(1.3);
   }
}


@keyframes photoClickAnimation {

   30% {
      transform: rotate3d(0, 1, 0, 180deg);
   }

   70% {
      transform: rotate3d(0, 1, 0, 0deg);
   }
}

@keyframes FromRight {
   0% {
      transform: translateX(200px);
   }

   20% {
      transform: translateX(-100px);
   }

   30% {
      transform: translateX(100px);
   }

   40% {
      transform: translateX(-50px);
   }

   50% {
      transform: translateX(25px);
   }

   60% {
      transform: translateX(-10px);
   }

   70% {
      transform: translateX(5px);
   }

   80% {
      transform: translateX(-2px);
   }

   90% {
      transform: translateX(1px);
   }

   100% {
      transform: translateX(0);
   }
}

@keyframes FromLeft {
   0% {
      transform: translateX(-200px);
   }

   20% {
      transform: translateX(100px);
   }

   30% {
      transform: translateX(-100px);
   }

   40% {
      transform: translateX(50px);
   }

   50% {
      transform: translateX(-25px);
   }

   60% {
      transform: translateX(10px);
   }

   70% {
      transform: translateX(-5px);
   }

   80% {
      transform: translateX(2px);
   }

   90% {
      transform: translateX(-1px);
   }

   100% {
      transform: translateX(0);
   }
}

/* media queries  */

@media screen and (min-height: 700px) {
   body {
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   footer {
      position: absolute;
      bottom: 0;
   }
}

@media screen and (max-width: 319px) {
   section.testimonial__items {
      padding: 0;
   }

   .testimonial__img__container {
      background-size: contain;
      background-position: center;
      padding: 0;
   }

   .photo {
      width: 100%;
   }
}

@media screen and (min-width: 450px) {
   body {
      height: 100vh;
   }
}


@media screen and (min-width:750px) {
   body {
      text-align: left;
      background-size: 500px;
   }

   .testimonial__items {
      height: 90vh;
      display: grid;
      grid-template-columns: 1fr .3fr .7fr;
      /* padding: 0 75px; */
      padding: 0 10vw;
   }

   .testimonial__img__container {
      grid-column: 2/4;
      position: absolute;
      transform-origin: left top;
   }

   .photo {
      transform-origin: left top;
   }

   .btn__container {
      left: 90px;
   }

   .testimonial__text__container {
      background-position: left 75px top;
      grid-column: 1/3;
      z-index: 3;
   }

   .testimonial__author {
      display: flex;
      flex-direction: row;
      align-items: center;
   }

   .testimonial__author h2 {
      margin: 0;
      margin-right: 10px;
   }

   @keyframes photoClickAnimation {
      0% {
         transform: rotateZ(0deg);
      }

      20% {
         transform: rotateZ(20deg);
      }

      35% {
         transform: rotateZ(15deg);
      }

      40% {
         transform: rotateZ(20deg);
      }

      45% {
         transform: rotate(18deg);
      }

      50% {
         transform: rotateZ(20deg);
      }

      55% {
         transform: rotateZ(19deg);
      }

      60% {
         transform: rotateZ(20deg);

      }

      64% {
         opacity: 1;
      }

      65% {
         transform: rotateZ(19.5deg);
         transform-origin: left top;
      }

      66% {
         opacity: 0;
         transform-origin: center;
         transform: scale(0);
      }

      80% {
         opacity: 0;
      }
   }
}

@media screen and (min-width:1000px) {
   .testimonial__items {
      padding: 0 20vw;
      grid-template-columns: 1fr .5fr 0.8fr;
   }

   .testimonial__img__container {
      background-size: 455px;
      background-position: center top 7px;
      height: 455px;
   }

   .photo {
      width: 353px;
   }

   .btn__container {
      bottom: 5px;
      width: 112px;
      height: 56px;
      border-radius: 30px;
   }

   .btn__img {
      transform: scale(1);
   }

   .testimonial__quote p {
      font-size: 22.4px;
   }
}

@media screen and (min-width: 1440px) {

   .testimonial__items {
      padding: 0px 16vw;
   }

   .testimonial__img__container {
      background-size: 700px;
      height: 700px;
      width: 700px;
      background-position: center top 10px;
   }

   .photo {
      width: 540px;
   }

   .btn__container {
      bottom: 24px;
      left: 130px;
   }

   .testimonial__text__container {
      padding-top: 35px;
      background-size: 110px 95px;
      background-position: left 100px top;
   }

   .testimonial__quote p {
      font-size: 32px;
   }

   .testimonial__author h2,
   .testimonial__author span {
      font-size: 20.8px;
   }
}